<% include template/headernav %>

<div class="jumbotron text-center bg-light">
  <h1 class="display-4">ไม่มีข้อมูลบ่อปลาในระบบ!</h1>
  <p class="lead">กรุณาคลิกที่ "เพิ่มบ่อปลา" เพื่อใส่ข้อมูลบ่อปลาเข้าไปในระบบก่อน.</p>
  <a class="btn btn-primary btn-lg" href="/setting" role="button">เพิ่มบ่อปลา</a>
</div>

<% include template/footer %>
