<% include template/headernav %>

<h1 class="display-3 offset-1 mt-3">เพิ่มบ่อปลา</h1>

<form name="addpond" action="/addPond" method="post">

  <div class="container">

    <div class="row">

      <div class="col">

        <h3>ข้อมูลทั่วไป</h3>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ชื่อบ่อปลา</span>
          </div>
          <input name="pondName" type="text" class="form-control" required>
        </div>

        <div class=" input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">รหัสตัวอุปกรณ์</span>
          </div>
          <input name="deviceCode" type="text" class="form-control" required>
        </div>

      </div>

      <div class="col">

        <h3>ขนาดบ่อปลา</h3>

        <div class=" input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ความกว้าง</span>
          </div>
          <input name="width" type="text" class="form-control" required>
          <div class="input-group-append">
            <span class="input-group-text">เมตร</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ความยาว</span>
          </div>
          <input name="lenght" type="text" class="form-control" required>
          <div class="input-group-append">
            <span class="input-group-text">เมตร</span>
          </div>
        </div>

      </div>

    </div>

    <h3>ค่าตัวแปรของน้ำ</h3>

    <div class="row">

      <div class="col">

        <label>PH</label>
        <input type="checkbox" name="phCheck" value="check">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ค่าสูงสุด</span>
          </div>
          <input name="phUpper" type="text" class="form-control">
        </div>

        <div class=" input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ค่าต่ำสุด</span>
          </div>
          <input name="phLower" type="text" class="form-control">
        </div>

      </div>

      <div class="col">

        <label>อุณหภูมิ</label>
        <input type="checkbox" name="tempCheck" value="check">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ค่าสูงสุด</span>
          </div>
          <input name="tempUpper" type="text" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">°C</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ค่าต่ำสุด</span>
          </div>
          <input name="tempLower" type="text" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">°C</span>
          </div>
        </div>

      </div>

    </div>

  </div>



  <div class="container">

    <div class="row">

      <div class="col">
      </div>

      <div class="col">
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="saveBtn" value="save" >บันทึก</button>
      </div>

      <div class="col">
      </div>

    </div>

  </div>
</form>


<% include template/footer %>
