<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand " href="/home">Water monitoring system</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/setting">Setting</a>
        </li>
        <li class="nav-item bg-danger">
          <a class="nav-link " href="/">Logout</a>
        </li>
      </ul>
  </nav>
